<style type="text/css"   manifest="/JPOButterflywalkmanifest.manifest">
/*This css form is for data submission inputs for citizen science pages and inputs */

h1{color:red;}
body {


.yellertextfield {
	input {
	background-color: red;
	border: 15px solid #ccc;
	}
}
.bluelabel {
	label{
	text : blue;
	}
}	

#Butterflycanvas {
	border: 5px;
	border:groove ;
	border-color:"orange";
	
	}

</style>